


{% extends "amonestacions/base.html" %}

{% block header %}

<script type="text/javascript">

$(document).ready(function() {

});


</script>

<style type="text/css">

td.dscr {
	background-color: #EEE;
	padding: 10px;
}

</style>


{% endblock %}


{% block body %}


<h1> Alumne {{ alumne }}</h1>
<h2> Saldo de punts: {{ punts }} </h2>

<table>
<tr><th> Falta </th> <th> Data </th> <th> Professor </th> <th> Punts </th></tr>
{% for a in amonList %}

<tr> 
	<td> {{a.gravetat.nom }} </td>
	<td> {{ a.dataHora|date:"d / m / Y" }} </td>
	<td> {{ a.professor }} </td>
	<td> {{ a.gravetat.punts }} </td>
</tr>
<tr>
	<td colspan="4" class="dscr"> {{ a.descripcio }} </td>
</tr>

{% endfor %}
</table>



{% endblock %}
