{% extends "hub/menu_base.html" %}

{% block baseheader %}

<title>Amonestacions</title>

<link type="text/css" href="/static/amonestacions/jquery-css/jquery.ui.all.css" rel="stylesheet" />	
<link type="text/css" href="/static/amonestacions/jquery.timepicker.css" rel="stylesheet" />	

<script type="text/javascript" src="/static/amonestacions/js/bsn.AutoSuggest_2.1.3_comp.js"></script>
<script type="text/javascript" src="/static/amonestacions/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/amonestacions/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/static/amonestacions/js/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="/static/amonestacions/js/jquery.tablesorter.min.js"></script>

<style type="text/css">

a:hover, a:visited, a:active {
	color: blue;
}


html {

}

table {
	border-collapse: collapse;
	width: 100%;
}

table td, table th {
	vertical-align: top;
	text-align: left;
	border: 1px solid gray;
	padding: 5px;
}

#topmenu {
	padding: 10px;
	background-color: #EEE;
	font-size: 13px;
}

#topmenu span {
	float: right;
}

#topmenu span a {
	margin-left: 10px;
	margin-right: 10px;
}

#mytable thead
{
	cursor: pointer;
}

#mytable thead th:hover {
	background-color: #EEE;
}

td.dscr {
	background-color: #EEE;
	padding: 10px;
}


</style>

{% block header %}

{% endblock %}


{% endblock %}


{% block basebody %}

<div id="topmenu">

<a href="/amonestacions/">Nova Incidència</a> || 
<a href="/amonestacions/consultagrup/">Llistat incidències (grup i data)</a> || 
<a href="/amonestacions/consultaAlumne/">Consultar incidència per alumne</a> 

{% if perms.amonestacions.informes %}
	|| <a href="/amonestacions/informes/">Informes PDF</a> 
{% endif %}

</div>

<div>

	{% block body %}

	{% endblock %}

</div>

{% endblock %}
