<html>

<head>

<LINK REL="StyleSheet" HREF="/static/amonestacions/estils.css" TYPE="text/css" MEDIA="screen">

<title>Amonestacions</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link type="text/css" href="/static/amonestacions/jquery-css/jquery.ui.all.css" rel="stylesheet" />	
<script type="text/javascript" src="/static/amonestacions/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/amonestacions/js/jquery-ui-1.8.custom.min.js"></script>



{% block header %}

{% endblock %}

</head>

<body>

<div>

<a href="/amonestacions/">Nova Amonestació</a> || 
<a href="/amonestacions/consulta/">Llistat amonestacions</a> || 
<a href="/amonestacions/altres/">Altres</a>

</div>

<div>

	{% block body %}

	{% endblock %}

</div>


</body>

</html>