
{% extends "amonestacions/base.html" %}

{% block header %}

<script type="text/javascript" src="/static/amonestacions/bsn.AutoSuggest_2.1.3_comp.js"></script>

<script type="text/javascript">

$(document).ready(function() {

	var options = {
		script: "/amonestacions/llistaAlumnes/?",
		varname: "l1",
		json: true,
		maxresults: 35
	};
	var as = new bsn.AutoSuggest('id_alumne', options);
	
	$("input:submit").button();


});


</script>


<style type="text/css">

div.autosuggest
{
	position: absolute;
	padding: 10px 0 0 0;
	background-color: #EEE;
}

div.autosuggest ul {
	list-style-type: none;
}

div.autosuggest ul {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

table#t1 td, table#t1 th {
	width: auto;
}

table#t1 {
	width: auto;
	margin-bottom: 10px;
}

table#t1 ul {
	color: red;
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}


</style>

{% endblock %}


{% block body %}

<h1> Consulta per alumne </h1>

{% if form %}
	<form method="post">

	<table id="t1">

	{{ form.as_table }}

	</table>
	<br>

	<input type="submit">

	</form>
{% endif %}


{% endblock %}