


{% if amons %}
<table>
<tr><th>Alumne</th><th>Grup</th><th>Punts restants</th></tr>
{% for a in amons %}

	{% if a.critic %} <tr class="t1 critic"> {% else %} <tr class="t1"> {% endif %}
	<td> <a href="/amonestacions/veureAlumne/{{ perid }}/{{ a.alumne.expedient }}">{{ a.alumne }}</a> </td>
	<td> {{ a.alumne.grup }} </td>
	<td> {{ a.pts }} </td>
	</tr>
	<tr class="t2"><td colspan="2"> 
		Tutor: {{ a.alumne.grup.tutor }} <br><br>
		Descripció: {{ a.descripcio }} 
	</td></tr>

{% endfor %}
</table>
{% endif %}

