


{% extends "amonestacions/base.html" %}

{% block header %}

<script type="text/javascript">

$(document).ready(function() {

	$("#doit").click(function() {
		var data = $(this).parent().serializeArray();
		$("#consulta").load('/amonestacions/consultagruppost/', data, function() { 
// 			alert("ep");
			$("#mytable").tablesorter(); 
		} );
		return false;
	});
	
	

});


</script>

<style type="text/css">

	.t2 {
		display: none;
	}
	
	
	table#t1 td, table#t1 th {
		width: auto;
	}
	
	table#t1 {
		width: auto;
		margin-bottom: 10px;
	}
	
	div#consulta {
		display: block;
	}
	
	tr.critic {
		background-color: #d98181;
	}

</style>


{% endblock %}


{% block body %}

<h1> Consulta Amonestacions </h1>

{% if form %}
	<form method="post">
	
	<table id="t1">
	{{ form.as_table }}
	</table>
	
	<input type="submit" id="doit">

	</form>
{% endif %}

<div id="consulta">

</div>


{% endblock %}
