


{% extends "amonestacions/base.html" %}

{% block header %}

<script type="text/javascript">

$(document).ready(function() {
	
	monthnames = ['Gener', 'Febrer', 'Març', 'Abril', 'Maig', 'Juny', 'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Decembre']
	daynamesshort = ['DU', 'DL', 'DM', 'DX', 'DJ', 'DV', 'DS']
	$("input[name=data1],input[name=data2]").datepicker( { 
		dateFormat: 'dd-mm-yy', 
		monthNames: monthnames, 
		dayNamesMin: daynamesshort, 
		firstDay: 1 
	} );
	
// 	$('.t1').click(function() {
// 		$(this).next().toggle();
// 	});

});


</script>

<style type="text/css">

	.t2 {
		display: none;
	}
	
/*	.t1 > td:first-child {
		cursor: pointer;
	}*/
	
	table#t1 td, table#t1 th {
		width: auto;
/* 		border: none; */
	}
	
	table#t1 {
		width: auto;
		margin-bottom: 10px;
	}

</style>


{% endblock %}


{% block body %}


<h1> Consulta Amonestacions </h1>

{% if form %}
	<form method="post">
	
	<table id="t1">
	{{ form.as_table }}
	</table>
	
	<input type="submit">

	</form>
{% endif %}

{% if amons %}
<table>
<tr><th>Alumne</th><th>Grup</th><th>Punts restants</th></tr>
{% for a in amons %}

	<tr class="t1">
	<td> <a href="/amonestacions/veureAlumne/{{ perid }}/{{ a.alumne.expedient }}">{{ a.alumne }}</a> </td>
	<td> {{ a.alumne.grup }} </td>
	<td> {{ a.pts }} </td>
	</tr>
	<tr class="t2"><td colspan="2"> 
		Tutor: {{ a.alumne.grup.tutor }} <br><br>
		Descripció: {{ a.descripcio }} 
	</td></tr>

{% endfor %}
</table>
{% endif %}

{% endblock %}
