


{% if amons %}

<script type="text/javascript">

    // $(".aabb").click(function() {
    //     var link = $(this).attr('href');
    //     $("#consulta2").load(link);
    //     return false;
    //
    //
    // });

</script>


<div id="consulta2">

<table id="mytable" class="tablesorter">
<thead>
<tr><th>Alumne</th><th>Data darrera amonestació</th><th>Grup</th><th>Saldo de Punts</th></tr>
</thead>
<tbody>

{% for a in amons %}

	{% ifequal a.critic "0" %} <tr class="t1 critic0"> {% endifequal %}
	{% ifequal a.critic "1" %} <tr class="t1 critic1"> {% endifequal %}
	{% ifequal a.critic "2" %} <tr class="t1 critic2"> {% endifequal %}
	{% ifequal a.critic "3" %} <tr class="t1 critic3"> {% endifequal %}
	{% ifequal a.critic "4" %} <tr class="t1 critic4"> {% endifequal %}
	{% ifequal a.critic "5" %} <tr class="t1 critic5"> {% endifequal %}
	{% ifequal a.critic "6" %} <tr class="t1"> {% endifequal %}
	<td> <a class="aabb" href="/amonestacions/veureAlumne/{{ a.alumne.expedient }}">{{ a.alumne }}</a> </td>
	<td> {{ a.last }} </td>
	<td> {{ a.grup }} </td>
	<td> {{ a.pts }} </td>
	</tr>
	<tr class="t2"><td colspan="2">
		Tutor: {{ a.alumne.grup.tutor }} <br><br>
		Descripció: {{ a.descripcio }}
	</td></tr>

{% endfor %}
</tbody>
</table>

</div>


{% endif %}
