


{% extends "amonestacions/base.html" %}

{% block header %}

<script type="text/javascript">

$(document).ready(function() {

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    $("[type=submit]").click(function() {
        var but = $(this);
        infogrup_id = but.attr("igrup");
        email = $(this).parent().parent().find("input[type=text]").val();

        but.val("canviant...");
        $.post("/amonestacions/tutorgrup/", { "igrup": infogrup_id, "email": email, "csrfmiddlewaretoken": csrftoken },
            function() {
                but.val("canvia");
                but.prop('disabled', true);
            }
        );

        return false;
    })

    $(".inputtutor").on('input', function() {
        $(this).parent().parent().find("input[type=submit]").prop('disabled', false);
    });

});


</script>


<style type="text/css">

.tdgrup, .tdtutor {
    width: 230px;
}

</style>

{% endblock %}


{% block body %}

<h1> E-mails dels tutors per any {{ anny }} </h1>

<table>
{% for g in infogrups %}

    <tr> <td class="tdgrup"> {{ g.grup }}: </td> <td class="tdtutor"> <input class="inputtutor" type="text" value="{{ g.emailTutor }}"> </td>
        <td> <input type="submit" value="canvia" igrup="{{ g.id }}" disabled></td>
    </tr>

{% endfor %}
</table>

{% endblock %}
