


{% extends "amonestacions/base.html" %}

{% block header %}

<script type="text/javascript">

$(document).ready(function() {

    $("[type=submit]").click(function() {
        infogrup_id = $(this).attr("igrup");
        email = $(this).parent().parent().find("input[type=text]").val();
        if (email != "") {
            $.post("/amonestacions/tutorgrup/", { "igrup": infogrup_id, "email": email }, function() {
                alert("correcte");
            })
        }
        return false;
    })

});


</script>


<style type="text/css">

.tdgrup, .tdtutor {
    width: 230px;
}

</style>

{% endblock %}


{% block body %}

<h1> E-mails dels tutors per any {{ anny }} </h1>

<table>
{% for g in infogrups %}

    <tr> <td class="tdgrup"> {{ g.grup }}: </td> <td class="tdtutor"> <input type="text" value="{{ g.emailTutor }}"> </td>
        <td> <input type="submit" value="canvia" igrup="{{ g.id }}"></td>
    </tr>

{% endfor %}
</table>

{% endblock %}
