
{% extends "amonestacions/base.html" %}

{% block header %}

<script type="text/javascript" src="/static/amonestacions/bsn.AutoSuggest_2.1.3_comp.js"></script>

<script type="text/javascript">

$(document).ready(function() {

	var options = {
		script: "/amonestacions/llistaAlumnes/?",
		varname: "l1",
		json: true,
		maxresults: 35
	};
	var as = new bsn.AutoSuggest('id_alumne', options);
	
	$("input:submit").button();
	
    monthnames = ['Gener', 'Febrer', 'Març', 'Abril', 'Maig', 'Juny',
        'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre']
	daynamesshort = ['DU', 'DL', 'DM', 'DX', 'DJ', 'DV', 'DS']
	$("input[name=dta]").datepicker( { 
		dateFormat: 'dd/mm/yy', 
		monthNames: monthnames, 
		dayNamesMin: daynamesshort, 
		firstDay: 1,
    } );

    $("input[name=hora]").timepicker({ 'timeFormat': 'H:i' });

});


</script>


<style type="text/css">

div.autosuggest
{
	position: absolute;
	padding: 10px 0 0 0;
	background-color: #EEE;
}

div.autosuggest ul {
	list-style-type: none;
}

div.autosuggest ul {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

table#amonform ul {
	color: red;
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}

</style>

{% endblock %}


{% block body %}

<h1> Nova Incidència </h1>

{% if ok %}

	<p> OK </p>

{% else %}

	<form method="post">

	<table id="amonform">

	{{ form.as_table }}

	</table>
	<br>

	<input type="submit">

	</form>

{% endif %}

{% endblock %}
